<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="project" translate="label" sortOrder="10">
            <label>Project</label>
        </tab>
        <section id="helloworld" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Hello World</label>
            <tab>project</tab>
            <resource>Project_HelloWorld::helloworld_config</resource>
            <group id="pagination" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pagination</label>
                <field id="pagination_frame" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pagination Frame</label>
                    <comment>How many links to display at once.</comment>
                </field>
                <!--<field id="pagination_frame_skip" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Pagination Frame Skip</label>-->
                    <!--<comment>If the current frame position does not cover utmost pages, will render link to current position plus/minus this value.</comment>-->
                <!--</field>-->
                <!--<field id="anchor_text_for_previous" translate="label comment" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Anchor Text for Previous</label>-->
                    <!--<comment>Alternative text for previous link in pagination menu. If empty, default arrow image will used.</comment>-->
                <!--</field>-->
                <!--<field id="anchor_text_for_next" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Anchor Text for Next</label>-->
                    <!--<comment>Alternative text for next link in pagination menu. If empty, default arrow image will used.</comment>-->
                <!--</field>-->
            </group>
        </section>
    </system>
</config>